/* This file contains all your mixins */

@mixin button ($dark-blue, $white){
    display: inline-block;
    background-color: $dark-blue;
    border-radius: 10px;
    padding: 0em 0.5em;
    margin: 0.3em 0.5em;
    color: $white;
    border: 0;
    line-height: 1.5em;
    text-decoration: none;
    &:hover{
        color: $dark-blue;
        background-color: $white;
        text-decoration:none;   
    }
}


@mixin button ($light-blue, $white) {
    display: inline-block;
    background-color: $light-blue;
    border-radius: 10px;
    padding: 0em 0.5em;
    margin: 0em 0.5em;
    color: $white;
    border: 0;
    line-height: 1.5em;
    text-decoration: none;
    &:hover {
    color: $light-blue;
    background-color: $white;
    text-decoration:none;
    }
}